<?xml version="1.0"?>
<launch>
    <!-- Define the number of UAVs-->
    <arg name = "num_uavs" default = "3" />
    <!-- Include the SITL Launch file-->
    <include file="$(find px4)/launch/multi_uav_mavros_sitl.launch">    </include>
    <!-- Loop to create multiple UAV nodes -->
    <env name = "index" value="0"/>
    <while arg="$(eval index &lt; int(num_uavs))">
        <group ns="uav$(env index)">
            <node pkg="simulation" type="object.py" name="uav$(env index)_controller" output="screen">
                <!-- Add any node-specific parameters here -->
            </node>
        </group>
        <env name="index" value="$(eval int(index) + 1)"/>
    </while>
    <node pkg="simulation" type="heuristic_simulation_mumt.py" name="heuristic_py" required="true" output="screen" />
</launch>
