<?xml version="1.0"?>
<launch>
	<!-- Include the MAVROS node with SITL and Gazebo -->
	<include file="$(find px4)/launch/mavros_posix_sitl.launch">
	</include>

	<!-- Our node to control the drone -->
	<node pkg="xyz_controller_py" type="offb_node.py" name="offb_node_py" required="true" output="screen" />
    <!-- <node pkg="xyz_controller_py" type="pesudo_sensor_node.py" name="pesudo_sensor_node_py" required="true" output="screen" />
    <node pkg="xyz_controller_py" type="xyz_controller_node.py" name="xyz_controller_node_py" required="true" output="screen" /> -->
</launch>